.container{
    padding-block: 50px;
}

h4{
    text-align: end;
    font-weight: 600 !important;
    margin-bottom: 25px !important;
}

hr{
    height: 5px;
    width: 550px;
    margin: 0 auto;
    opacity: 1 !important;
    background-color: var(--primary-color) !important;
    border-radius: 10px;
}
