.sider{
    position: sticky;
    top: 5px;
}

.userInfo {
  padding-block: 25px;
  padding-left: 10px;
}

.header{
    background-color: white;
    box-shadow: 5px 0 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropDown{
    width: 150px !important;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
